<link rel="stylesheet" href="{{ 'custom-style.css' | asset_url }}">
<section class="custom-page">
  <h1>{{ section.settings.title }}</h1>
  <p>{{ section.settings.description }}</p>
  <button id="load-products">加载产品</button>
  <ul id="product-list"></ul>
</section>

{% comment %} 将js文件抽出来成文一个单独的文件，然后在需要的地方引用 {% endcomment %}
{{ 'custom-page-section.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "我新建是section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题",
      "default": "自定义页面"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "描述",
      "default": "这是一个学习 Shopify 主题结构的页面"
    }
  ],
  "presets": [
    {
      "name": "Custom Page Section"
    }
  ]
}
{% endschema %}
